*.pyc
data/*
data/Pancreas_Tumor_Segmentation/models
data/Pancreas_Tumor_Segmentation/metrics
data/Pancreas_Segmentation/models
data/Pancreas_Segmentation/metrics
__pycache__/
checkpoints/
*.pth
*.jpg
venv/
.idea/
wandb/
